<%= simple_form_for invoice, default: {input_html: { class: "form-control" }} do |f| %>
  <%= f.input :name %>
  <%= f.input :details %>
  <%= f.input :from %>  
  <%= f.input :to %>
  <%= f.input :date, as: :string, input_html: {type: :date, onclick: "this.showPicker()"} %>
  <%= f.input :due_date, as: :string, input_html: {type: :date, onclick: "this.showPicker()"} %>
  <div data-controller="form">
    <%= f.simple_fields_for :line_expences do |l| %>
      <div class="d-flex gap-2" data-form-target="expenceLine">
        <%= l.input :name %>
        <%= l.input :quantity %>
        <%= l.input :rate %>
        <% if l.object.persisted? %>
          <%= l.hidden_field :_destroy %>
          <button type="button" class="btn btn-danger btn-sm" data-action="click->form#removeLine">Delete</button>
        <% end %>
      </div>
    <% end %>
    <div class="visually-hidden" data-form-target="expenceLine" id="expenceLine">
      <div data-form-target="shadow"> 
        <label type="text" name="invoice_line_expenses_attributes_new_name"> Name </label>
        <input type="text" name="invoice[line_expences_attributes][new][name]">
        <label type="text" name="invoice_line_expenses_attributes_new_quantity"> Quantity </label>
        <input type="text" name="invoice[line_expences_attributes][new][quantity]">
        <label type="text" name="invoice_line_expenses_attributes_new_rate"> Rate </label>
        <input type="text" name="invoice[line_expences_attributes][new][rate]"> 
        <button type="button" class="btn btn-danger btn-sm" data-action="click->form#removeLine">Delete</button>
      </div>
    </div>
    <button class="btn btn-primary btn-sm" data-action="click->form#addNewLine" type="button">
      Add new line
      <i class="bi bi-plus-lg"></i>
    </button>
  </div>
  <%= f.input :total %> 
  <%= f.submit %> 
<% end %> 