<%= simple_form_for invoice, default: {input_html: { class: "form-control" }} do |f| %>
  <%= f.input :name %>
  <%= f.input :details %>
  <%= f.input :from %>  
  <%= f.input :to %>
  <%= f.input :date, as: :string, input_html: {type: :date, onclick: "this.showPicker()"} %>
  <%= f.input :due_date, as: :string, input_html: {type: :date, onclick: "this.showPicker()"} %>
  <div data-controller="form" data-form-total-value="0">
    <%= f.simple_fields_for :line_expences do |l| %>
      <div data-form-target="expenceLine">
        <div data-form-target="shadow" class="d-flex gap-2" >  
          <%= l.input :name %>
          <%= l.input :quantity, input_html: {"data-action": "input->form#calculateLineTotal"} %>
          <%= l.input :rate, input_html: {"data-action": "input->form#calculateLineTotal"} %>
          <%= l.input :total, input_html: {readonly: true, "data-form-target": "expenceTotal"} %>
          <%= l.hidden_field :_destroy %>
          <button type="button" class="btn btn-danger btn-sm" data-action="click->form#removeLine">Delete</button>
        </div>
      </div>
    <% end %>
    <button class="btn btn-primary btn-sm" data-action="click->form#addNewLine" type="button">
      Add new line
      <i class="bi bi-plus-lg"></i>
    </button>
    <%= f.input :total, input_html: {"data-form-target": "totalInvoiceInput", readonly: true} %> 
    <%= f.submit %> 
  </div>
<% end %> 