<%= link_to "Back to invoices", invoices_path %>
<div>
  <%= render 'form', invoice: @invoice %> 
  <%= link_to "Download", download_pdf_invoice_path(@invoice, format: :pdf) %>
  <%= link_to "Send And Save", send_and_save_modal_content_invoice_path(@invoice), data: {turbo_frame: "modal"} %>
  <%= turbo_frame_tag "modal" %>
</div> 