<%= link_to "Back to invoices", invoices_path %>
<div>
  <h1><%= @invoice.details %></h1>
  <p><%= @invoice.from %></p>
  <p><%= @invoice.to %></p> 
  <%= link_to "Edit", edit_invoice_path(@invoice) %>
  <%= %>
</div>